@import "reset";

.burger {
   display: none;
   position: absolute;
   left: 15px;
   top: 21px;
   z-index: 10;
}
.menu-mobile {
   background-color: #FF9900;
   height: 100vh;
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   transition: all .3s ease;
   transform: translateX(-100%);
   opacity: .8;
   &.active {
      transform: translateX(0);
   }
	&_list {
      padding: 30px 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
	}
	&_item {
      font-weight: 700;
      font-size: 32px;
      line-height: 28px;
      color: #2F281E;
      margin: 0 0 40px 0;
	}
	&_link {
      &:hover {
         text-decoration: none;
      }
	}
}
.header {
   margin: 0 0 30px 0;
}

.header_container {
   display: flex;
   align-items: center;
   .header_logo {
      flex: 1 1 auto;
   }
   .header_menu {
      display: flex;
      gap: 30px;
      li {
         a {
            font-size: 14px;
            line-height: 28px;
            color: #2F281E;
            margin: 0 25px 0 0;
         }
      }
   }
}
.header-buttons {
   padding: 25px 0;
}
.button {
   padding: 10px 25px;
   margin: 0 16px 0 0;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #173A56;
   border-radius: 4px;
   border: #BCD0E5 2px solid;
   &:hover {
      background-color: #bcd0e536;
      text-decoration: none;
   }
}
.orange {
   background-color: #FF9900;
   color: #fff;
   &:hover {
      background-color: #FF9900;
      opacity: .7;
   }
}
/* main----------------------------------------- */
.get-started {
   margin: 0 0 110px 0;
   display: flex;
}
.section-content {
   padding: 110px 0 0 0;  
   display: flex;
   flex-direction: column;
}
.content-buttons {
   display: flex;
   align-items: center;
}
.main-title {
   font-weight: 700;
   font-size: 44px;
   line-height: 54px;
   color: #2F281E;
   margin: 0 0 30px 0;
}
.content-text {
   margin: 0 0 45px 0;
}
.get-started-button {
   font-weight: 700;
   padding: 15px 40px;
}
.video {
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #FF9900;
}
.video-icon {
   margin: 0 0 0 25px;
}
.video-link {
   text-decoration: underline;
}
.video-link:hover {
   color: #ff9900d2;
}
.section-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   img {
      width: 100%;
   }
}
/* ------------------------------------------- */
.sign-up-now {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sign-up-now-title {
   max-width: 540px;
   margin: 0 0 50px 0;
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   text-align: center;
   color: #2F281E;
}
.all-cards {
   display: flex;
   margin: 0 0 35px 0;
   gap: 45px;
}
.my-card {
   display: flex;
   flex-direction: column;
   flex: 25%;
}
.my-card-icon {
   margin: 0 0 30px 0;
}
.my-card-title {
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
   color: #2F281E;
   margin: 0 0 15px 0;
}
.my-card-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837
}
.section-button {
   margin: 0 0 90px 0;
}
.sign-up-now-button {
   font-weight: 700;
   text-transform: uppercase;
   padding: 15px 40px;
}
/* ----------------------------------------------------- */
.design {
   margin: 0 0 100px 0;
   display: flex;
   justify-content: space-between;
}
.design-content {
   display: flex;
   flex-direction: column;
   // max-width: 490px;
   padding: 25px 30px 0 0;
}
.design-content-info {
   font-weight: 500;
   line-height: 24px;
   color: #544837;
}
.design-content-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   color: #2F281E;
   margin: 0 0 20px 0;
}
.design-content-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837;
   margin: 0 0 30px 0;
}
.design-content-subtitle {
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   color: #2F281E;
   margin: 0 0 12px 0;
}
.design-content-subtitle-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837;
   margin: 0 0 25px 0;
}
.design-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   img {
      width: 100%;
   }
}
/* ----------------------------------------------------- */
.product {
   margin: 0 0 100px 0;
   display: flex;
   justify-content: space-between;
}
.product-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   img {
      width: 100%;
   }
}
.product-content {
   display: flex;
   flex-direction: column;
   max-width: 490px;
   padding: 25px 10px;
}
.product-content-info {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #544837;
}
.product-content-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   color: #2F281E;
}
.product-content-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837;
   margin: 0 0 30px 0;
}
.product-item {
   margin: 0 0 30px 0;
   display: flex;
}
.item {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837;
   margin: 0 0 0 30px;
}
/* --------------------------------------------------- */
.marketers {
   margin: 0 0 100px 0;
   display: flex;
   justify-content: space-between;
}
.marketers-content {
   max-width: 490px;
   padding: 25px 10px 0 0;
   display: flex;
   flex-direction: column;
}
.marketers-content-info {
   font-weight: 500;
   line-height: 24px;
   color: #544837;
}
.marketers-content-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   color: #2F281E;
   margin: 0 0 20px 0;
}
.marketers-content-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837;
   margin: 0 0 30px 0;
}
.marketers-content-subtitle {    
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   color: #2F281E;
   margin: 0 0 12px 0;
}
.marketers-content-subtitle-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #544837;
   margin: 0 0 25px 0;
}
.marketers-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   img {
      width: 100%;
   }
}
/* --------------------------------------------------------- */
.footer {
   border-top: 1px solid #BCD0E5;
   padding: 0 0 90px 0;
}
.footer-logo {
   padding: 100px 0 30px 0;
}
.footer-content {
   display: flex;
   justify-content: flex-end;
}
.footer-menu {
   margin: 0 180px 0 0;
   display: flex;
   flex-direction: column;
}
.footer-menu-1 {
   display: flex;
   flex-direction: column;
}
.footer-item {
   font-size: 16px;
   line-height: 35px;
   color: #544837;
}
.footer-item:not(:last-child) {
   margin: 0 0 15px 0;
}
.footer-item:hover {
   text-decoration: underline;
   color: #544837;
}
.footer-buttons {
   margin: 0 0 0 80px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.footer-button {
   padding: 8px 15px;
   margin: 0;  
}
input {
   font-family: 'Poppins';
   padding: 0 10px;
   font-size: 16px;
   margin: 0 0 20px 0;
   min-width: 300px;
   height: 50px;
   border: #BCD0E5 1px solid;
}