[v-cloak] {
    display: none;
}
body {
    background-image: url(../images/2.jpg);
    background-repeat: repeat;
    background-size: contain;
}
.container {
    position: relative;
}
.modal_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    .my_modal {
        border-radius: 8px;
        background-color: #fff;
        padding: 20px;
        max-width: 600px;
        position: relative;
        overflow: auto;
        .modal_btn {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}
.my_btn {
    position: absolute;
    bottom: 17px;
    right: 20px;
    height: 38px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.none {
    display: none;
}
.my_card {
    position: relative; 
}
svg {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
input, select {
    background-color: lightgrey !important;
}

button img {
    width: 20px;
    height: 20px;
}

.btn-theme {
    position: absolute;
    right: 7px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
// theme
.light-theme {
    body {
        background-color: #faebd7 !important;
    }
    background-color: antiquewhite !important;
    h2 {
        color: #000 !important;
    }
    .btn {
        background-color: lightgrey !important;
    }
    .card,
    .card-header,
    .card-bogy,
    .text-bg-dark {
        background-color: antiquewhite !important;
        color: #000 !important;
    }
    .pagination {
        background-color: antiquewhite !important;
    }
}

@media (max-width: 576px) {
    .my_modal {
        height: 100vh;
    }
}
