<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie search</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>
<body class="bg-secondary">
    <div id="app">
        <div class="container pt-5">
            <h2 class="display-4 text-uppercase text-white text-center fw-bold mb-5">movie search service</h2>
            <div class="card text-bg-dark mb-4">
                <div class="card-body">
                    <form action="" id="search_form" @submit.prevent="searchMovie">
                        <div class="row">
                            <div class="col-8">
                                <input type="search" class="form-control" placeholder="Enter movie title" v-model="search">
                            </div>
                            <div class="col-2">
                                <select class="form-select" v-model="select">
                                    <!-- <option v-for="select in selected">{{ select }}</option> -->
                                    <option value="">{{ selected[0] }}</option>
                                    <option>{{ selected[1] }}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-warning w-100">SEARCH</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- search result -->
            <!-- :class="{'none': movieList.length === 0} ==>> Показувати карточку коли список не порожній  -->
            <!-- <div class="card text-bg-dark" :class="{'none': movieList.length === 0}"> -->
            <div class="card text-bg-warning mb-4" v-if="movieList.length !== 0">
                <div class="card-header text-bg-warning">
                    <h3>Search result</h3>
                </div>
                <div class="card-body text-bg-dark d-flex flex-wrap">
                    <div class="card col-4" v-for="movie in movieList" :key="movie.imdbID">
                        <img :src="movie.Poster" class="card-img-top" :alt="movie.Title">
                        <div class="card-body text-bg-dark my_card">
                            <h5 class="card-title">{{ movie.Title }}</h5>
                            <p class="card-text">{{ movie.Year }}</p>
                            <button type="button" class="btn btn-warning" @click="getMovieInfo(movie.imdbID)">Detail</button>
                            <button class="btn btn-secondary favourite" @click="addToFavourites(movie.imdbID)"> 
                                <svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                                    <path fill="#fff" d="M34,9c-4.2,0-7.9,2.1-10,5.4C21.9,11.1,18.2,9,14,9C7.4,9,2,14.4,2,21c0,11.9,22,24,22,24s22-12,22-24 C46,14.4,40.6,9,34,9z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- favourites list -->
            <div class="card text-bg-warning" v-if="favourite.length !== 0">
                <div class="card-header text-bg-warning">
                    <h3>My favourite films </h3>
                </div>
                <div class="card-body text-bg-dark d-flex flex-wrap">
                    <div class="card col-4" v-for="movie in favourite" :key="movie.imdbID">
                        <img :src="movie.Poster" class="card-img-top" :alt="movie.Title">
                        <div class="card-body text-bg-dark my_card">
                            <h5 class="card-title">{{ movie.Title }}</h5>
                            <p class="card-text">{{ movie.Year }}</p>
                            <button type="button" class="btn btn-warning" @click="getMovieInfo(movie.imdbID)">Detail</button>
                            <button class="btn btn-secondary favourite" @click="addToFavourites(movie.imdbID)"> 
                                <svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                                    <path fill="#fff" d="M34,9c-4.2,0-7.9,2.1-10,5.4C21.9,11.1,18.2,9,14,9C7.4,9,2,14.4,2,21c0,11.9,22,24,22,24s22-12,22-24 C46,14.4,40.6,9,34,9z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal_overlay" v-if="showModal">
            <div class="my_modal text-bg-secondary">
                <div><b>Title: </b>{{ movieInfo.Title }}</div>
                <div><b>Year: </b>{{ movieInfo.Year }}</div>
                <div><b>Director: </b>{{ movieInfo.Director }}</div>
                <div><b>Actors: </b>{{ movieInfo.Actors }}</div>
                <div><b>Rating: </b> {{ movieInfo.Ratings[0].Value }}</div>
                <div><b>Type: </b>{{ movieInfo.Type }}</div>
                <div><b>Runtime: </b>{{ movieInfo.Runtime }}</div>
                <div><b>Country: </b>{{ movieInfo.Country }}</div>
                <div><b>Language: </b>{{ movieInfo.Language }}</div>
                <button type="button" class="btn btn-light my_btn" @click="showModal = false">X</button>
            </div>
        </div>

    </div>




    <script src="assets/js/vue.global.js"></script>
    <script src="assets/plugins/axios/axios.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>