*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

a,
button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  list-style: none;
}

.header {
  padding: 110px 0 40px 0;
}
.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_content__subtitle {
  font-size: 1.125rem;
  line-height: 1rem;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #898F8F;
  margin: 0 0 35px 0;
}
.header_content__title {
  font-size: 3.75rem;
  line-height: 2.75rem;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  color: #FFCC00;
  margin: 0 0 40px 0;
}

.image::before, .image::after {
  content: "";
  display: inline-block;
  background-color: #FFCC00;
  width: 210px;
  height: 1px;
  position: relative;
  bottom: 10px;
  right: 0;
}

.image img {
  width: 20px;
  height: 20px;
}

.main-contant {
  position: relative;
  display: flex;
  height: 560px;
  margin: 0 0 35px 0;
}
.main-contant .arrow-left {
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #FFCC00;
  border-left: 5px solid #FFCC00;
  border-radius: 3px;
  position: absolute;
  transform: rotate(45deg);
  left: 0px;
  top: 264px;
}
.main-contant .arrow-right {
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #FFCC00;
  border-left: 5px solid #FFCC00;
  border-radius: 3px;
  position: absolute;
  transform: rotate(225deg);
  left: 1120px;
  top: 264px;
}
.main-contant .arrow-left:hover,
.main-contant .arrow-right:hover {
  opacity: 0.6;
}
.main-contant__photo-block {
  flex: 50%;
  border-right: 1px solid #FFCC00;
  padding: 70px 0 0 70px;
}
.main-contant .photo-block__photo {
  position: relative;
}
.main-contant .photo-block__photo img {
  border: 1px solid #FFCC00;
  width: 400px;
  height: 400px;
}
.main-contant .left-top {
  width: 100px;
  height: 100px;
  border-top: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  position: absolute;
  top: -15px;
  left: -15px;
}
.main-contant .right-top {
  width: 100px;
  height: 100px;
  border-top: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  position: absolute;
  top: -15px;
  left: 315px;
}
.main-contant .left-bottom {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  position: absolute;
  bottom: -10px;
  left: -15px;
}
.main-contant .right-bottom {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  position: absolute;
  bottom: -10px;
  left: 315px;
}
.main-contant__text-block {
  flex: 50%;
  padding: 70px 0 0 85px;
}
.main-contant .text-wrap {
  width: 430px;
}
.main-contant .text-wrap__article {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 0.875rem;
  color: #333333;
  text-align: center;
  margin: 0 0 17px 0;
}
.main-contant .text-wrap__lines {
  display: flex;
  justify-content: center;
  margin: 0 0 25px 0;
}
.main-contant .text-wrap__lines .first-line {
  width: 10px;
  height: 4px;
  background-color: #FFCC00;
  margin: 0 5px 0 0;
}
.main-contant .text-wrap__lines .second-line {
  width: 20px;
  height: 4px;
  background-color: #FFCC00;
  margin: 0 5px 0 0;
}
.main-contant .text-wrap__lines .third-line {
  width: 10px;
  height: 4px;
  background-color: #FFCC00;
}
.main-contant .text-wrap__view-profile {
  display: flex;
  justify-content: center;
}
.main-contant .text-wrap__view-profile .view-profile__link {
  border: 1px solid #FFCC00;
  padding: 0 10px;
}
.main-contant .text-wrap__view-profile a {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.5833333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
}
.main-contant .text-wrap__view-profile .view-profile__link:hover {
  background-color: rgba(255, 204, 0, 0.3);
}
.main-contant .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
}
.main-contant .title__name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.75rem;
  margin: 0 0 30px 0;
}
.main-contant .title__line {
  width: 100px;
  height: 1px;
  background-color: #FFCC00;
  margin: 0 0 30px 0;
}
.main-contant .title__job {
  font-family: "Raleway";
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
.main-contant .social {
  margin: 0 0 50px 0;
}
.main-contant .social__list {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.main-contant .social__item {
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.main-contant .social__item:hover {
  background-color: rgba(255, 204, 0, 0.3);
}
.main-contant .social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-contant-decoration {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 0 40px 0;
}
.main-contant-decoration .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFCC00;
}
.main-contant-decoration .circle--empty {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #FFCC00;
  background-color: #fff;
}