*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: rgb(214 236 228);
    color: #545454;
    background-color: rgb(250, 245, 245);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

a,
button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ol,
ul {
    list-style: none;
}

/* ------------------------------------------------------------ */
form {
    width: 540px;
    height: 590px;
    background-color: #fff;
    margin: 10px 10px;
    padding: 20px 20px 30px 20px;
}

.title {
    margin: 0 0 20px 0;
    font-size: 1.45rem;
    line-height: 2rem;
    font-weight: 900;
    letter-spacing: -0.4px;
    color: #1C1C1C;
}

.name {
    display: flex;
}

.form_elem {
    width: 100%;
    margin: 0 0 20px 0;
}

.form_elem:not(:last-child) {
    margin: 0 12px 0 0;
}

.email {
    margin: 0 0 20px 0;
}

input[type=text],
input[type=email],
input[type=radio],
input[type=number],
select,
button {
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    width: 100%;
    height: 38px;
}

select {
    width: 245px;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus {
    outline: none;
    border: 1px solid #007BFF;
}

input[type=number] {
    outline: none;
    border: 1px solid #007BFF;
}

label {
    display: inline-block;
    margin: 0 0 7px 0;
    font-size: .95rem;
    line-height: 1.4rem;
    letter-spacing: -0.2px;
}

.hint {
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: -0.1px;
    color: #969696;
    margin: 7px 0 0 0;
}

.gender {
    display: flex;
    margin: 0 0 10px 0;
}

.form_radio {
    margin: 0 20px 0 0;
    display: flex;
}

input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=radio]+label {
    padding: 0 0 0 30px;
    display: inline-block;
    position: relative;
}

input[type=radio]+label::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

input[type=radio]+label::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 6px solid #007BFF;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: all .3s ease;
}

input[type=radio]:checked+label::after {
    opacity: 1;
}

input[type=radio]:disabled+label::before {
    background-color: rgb(205, 197, 197);
}

input[type=radio]:disabled:checked+label::after {
    border-color: rgb(84, 83, 83);
}

.address {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0 0 20px 0;
    background-color: #007BFF;
    color: #fff;
    transition: all .3s ease;
}

button:hover {
    opacity: .8;
}

.sign_up {
    margin: 0 0 20px 0;
    font-size: .8rem;
    line-height: 1.12rem;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
    padding: 0 45px 20px 45px;
    border-bottom: 1px solid #E4E4E4;
}

a {
    color: #007BFF;
}

.log_in {
    display: flex;
    justify-content: center;
}

/* ! Form2 ----------------------------------------------------------*/
.form_title {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.4px;
    font-weight: 700;
    color: #1C1C1C;
    margin: 0 0 20px 0;
}

.photo_block {
    display: flex;
    margin: 0 0 20px 0;
}

img {
    margin: 0 20px 0 0;
}

.flex {
    display: flex;
    margin: 11px 0 9px 0;
}

.fake_file_wrap {
    position: relative;
    height: 30px;
}

.fake_file {
    width: 138px;
    height: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.reset {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 5px 6px;
    margin: 0 0 0 10px;
}

.icon {
    position: absolute;
    right: 5px;
    top: 4px;
}

.file_hint {
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: -0.1px;
    color: #969696;
}

.update {
    max-width: 150px;
}