*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Gilroy";
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #070707;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

a,
button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  list-style: none;
}

.burger,
.menu-mobile {
  display: none;
}

.header {
  margin: 0 0 35px 0;
}
.header_container {
  padding: 33px 0 32px 0;
  border-bottom: 1px solid #828282;
}
.header_menu {
  display: flex;
  justify-content: space-between;
}
.header_item {
  font-size: 1, 125rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: #828282;
}
.header_link:hover {
  text-decoration: none;
  color: #070707;
}

.home_section {
  margin: 0 0 104px 0;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 47px 0;
}

.user_name {
  max-width: 125px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.3rem;
}
.user_job {
  max-width: 155px;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.user_photo img {
  width: 100%;
  height: 100%;
}
.user_photo .mobile {
  display: none;
}
.user_language {
  transform: rotate(270deg) translate(25px, 20px);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #828282;
  cursor: pointer;
}
.user_language span {
  color: #070707;
}

.about_section {
  background-color: #F6F6F6;
  padding: 110px 0 107px 0;
}

.about {
  margin: 0 auto;
  text-align: center;
}
.about_title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rem;
  margin: 0 0 25px 0;
}
.about_text {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.about_text:not(:last-child) {
  margin: 0 0 42px 0;
}

.skills {
  padding: 88px 0 111px 0;
}
.skills_title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rem;
  text-align: center;
  margin: 0 0 57px 0;
}
.skills_subtitle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  margin: 0 0 80px 0;
}
.skills_cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card_icon {
  margin: 0 0 8px 0;
}
.card_icon .icon {
  width: 89px;
  height: 89px;
  margin: 0.5em;
  background: #000;
}
.card_icon .icon_empty {
  background: #fff;
}
.card_name {
  text-align: center;
  margin: 0 0 35px 0;
  max-width: 80px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: #828282;
}
.card_stars {
  display: flex;
  gap: 12px;
}

.stars_1 .star:nth-child(-n+4),
.stars_2 .star:nth-child(-n+3),
.stars_3 .star:nth-child(-n+4),
.stars_4 .star:nth-child(-n+4) {
  background: url(../img/full_star.svg);
}

.star {
  width: 20px;
  height: 20px;
  background: url(../img/Star.svg);
}

.portfolio_section {
  background-color: #F6F6F6;
}

.portfolio {
  padding: 113px 0 96px 0;
}
.portfolio_title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rem;
  text-align: center;
  margin: 0 0 50px 0;
}
.portfolio_work {
  margin: 0 0 38px 0;
}
.portfolio_work img {
  width: 100%;
  height: 100%;
}
.portfolio_link {
  display: block;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  text-decoration-line: underline;
}
.portfolio_link:not(:last-child) {
  margin: 0 0 99px 0;
}

.footer {
  padding: 114px 0 123px 0;
}
.footer_container {
  text-align: center;
}
.footer_title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rm;
  margin: 0 0 35px 0;
}
.footer_text {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 0 0 30px 0;
}
.footer_button {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 0 0 82px 0;
  color: #fff;
  background-color: #000;
  padding: 13px 30px;
  border-radius: 40px;
  cursor: pointer;
}
.footer_button:hover {
  opacity: 0.7;
}
.footer_socials {
  margin: 0 0 45px 0;
  display: flex;
  gap: 62px;
  justify-content: center;
}
.footer_socials .social_item {
  font-size: 2.5rem;
}
.footer_socials .social_item a {
  width: 100%;
  height: 100%;
}
.footer_socials .social_item a:hover {
  text-decoration: none;
  opacity: 0.5;
}
.footer_copy {
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: #828282;
}

@media (max-width: 767px) {
  .about_section {
    padding: 70px 0;
  }

  .skills {
    padding: 70px 0;
  }
  .skills_subtitle {
    margin: 0 0 40px 0;
  }
  .skills_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills_cards .card {
    flex: 50%;
  }
  .skills_cards .card:nth-child(1), .skills_cards .card:nth-child(2) {
    margin: 0 0 20px 0;
  }

  .portfolio {
    padding: 70px 0;
  }

  .footer {
    padding: 70px 0;
  }
  .footer_button {
    margin: 0 0 50px 0;
  }
  .footer_socials {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .burger {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100;
  }

  .menu-mobile {
    padding: 30px 0 0 30px;
    position: absolute;
    width: 100%;
    background-color: #F6F6F6;
    height: 800px;
    left: 0;
    top: 0;
    display: block;
    transition: all 0.3s ease;
  }
  .menu-mobile_item:not(:last-child) {
    margin: 0 0 68px 0;
  }
  .menu-mobile_link {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.625rem;
    color: #828282;
  }
  .menu-mobile_link:hover {
    color: #090909;
    text-decoration: none;
  }
  .menu-mobile_language {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.6rem;
    color: #828282;
    cursor: pointer;
    transform: rotate(90deg);
    position: absolute;
    bottom: 90px;
    right: 0;
  }
  .menu-mobile_language span {
    color: #000;
  }

  .container {
    width: 100%;
    padding: 0 30px;
  }

  .header_container {
    display: none;
  }

  .home_section {
    margin: 0 0 80px 0;
  }

  .home {
    flex-direction: column;
    align-items: flex-start;
  }

  .user_photo img {
    width: 100%;
    height: 100%;
  }
  .user_photo .desktop {
    display: none;
  }
  .user_photo .mobile {
    display: block;
  }
  .user_language {
    display: none;
  }

  .active {
    top: -800px;
  }
}