@import "reset";

// header
.header_logo {
    padding: 38px 0 40px 0;
    border-bottom: 1px solid #EFEEF3;
    margin: 0 0 55px 0;
}

// main
.main {
    margin: 0 0 69px 0;
}
.main_content {
    .subtitle {
        line-height: 1.3rem;
        color: #7690A8;
        text-transform: uppercase;
        margin: 0 0 17px 0;
    }
    .title {
        font-family: 'Nunito Sans';
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.25rem;
        letter-spacing: 0.2px;
        margin: 0 0 35px 0;
    }
}
.cards {
    display: flex;
    gap: 39px;
    .card {
        padding: 40px;
        border: 1px solid #E5EAF4;
        border-radius: 8px;
        max-width: 360px;
        transition: all .5s ease;
        &:hover {
            border-color: #3DB370;
            transform: scale(1.1);
        }
        .icon_block {
            border: 1px solid rgba(21, 101, 216, 0.1);
            border-radius: 16px;
            width: 64px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 28px 0;
            .icon { 
                width: 38px; 
                height: 38px;
                margin: .5em;
              }
        }
        .card_title {
            font-size: 1.5rem;
            line-height: 1.3rem;
            letter-spacing: 0.2px;
            margin: 0 0 14px 0;
        }
        .card_text {
            max-width: 277px;
            line-height: 1.75rem;
            margin: 0 0 29px 0;
        }
    }     
}

// footer
.footer {
    padding: 36px 0 45px 0;
    background-color: #16133D;
    .footer_logo {
        margin: 0 0 40px 0;
    }
}
.socials_block {
    display: flex;
    gap: 8px;
    .social {
    background-color: #EFEEF3;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    justify-content: center;   
    align-items: center;
        .link {
            font-size: 1.25rem;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover a {
            font-size: 1.375rem;
            color: #3DB370;
        }
    }
}

@media (max-width: 700px) {
    .cards {
      flex-wrap: wrap;
      .card {
          max-width: 100%;
      }
    }
  }