@import "reset";

$blue: #5474FD;

// intro styles=============================================================
.intro {
    background: url(../images/intro.jpg) no-repeat;
    background-size: cover;
    padding: 280px 0 154px;
    height: 740px;
}
.intro_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans';
    line-height: 1.625rem;
	&_title {
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-bottom: 11px;
	}
	&_subtitle {
        font-size: 1.375rem;
        letter-spacing: 6.82px;
        margin-bottom: 48px;
        text-align: center;
	}
	&_form {
        display: flex;
        justify-content: center;
        margin-bottom: 105px;
	}
    &_scroll {
        font-size: .875rem;
        line-height: 1.625rem;
        letter-spacing: 2.8px;
        position: relative;
        cursor: pointer;
        transition: all .4s ease;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 25px;
            left: 45px;
            width: 9px;
            height: 9px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(-45deg);
        } 
        &:hover {
            transform: scale(1.1);
        }  
    }
}
input[type="search"] {
    width: 503px;
    padding: 19px 100px 19px 113px;
    font-family: 'Josefin Sans';
    font-size: .875rem;
    line-height: 1.625rem;
    letter-spacing: 2.8px;
    color: #999999;
    border: none;
    outline: 0;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
        opacity: .8;
    }
}
.form_btn {
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Aleo';
    font-size: .875rem;
    line-height: 1.625rem;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: $blue;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        border-color: rgba(255, 255, 255, .7);
        color: rgba(255, 255, 255, .7);
        background-color: #496BFE;
    }
}
svg {
    fill: #fff;
}
button:hover svg {
    fill: rgba(255, 255, 255, .7);
}
// header styles ===================================================
.burger,
.menu-mobile {
    display: none;
}
.menu-mobile {
    padding: 50px 0 0 30px;
    position: fixed;
    width: 350px;
    background-color: rgba(84, 116, 253, .9);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #FFF;
    height: 100vh;
    left: 0;
    top: 60px;
    z-index: 10;
    display: block;
    transition: all .3s ease;
    transform: translateX(-110%);
        &.active {
           transform: translateX(0);
        }
        &_item {
           &:not(:last-child) {
              margin-bottom: 50px;
           }
        }
        &_link {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.625rem;
            // color: #828282;
        &:hover {
            color: #090909;
            text-decoration: none;
        }
    }
}
.hidden {
    overflow: hidden;
}
#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    background-color: $blue;
    opacity: .5;
    z-index: 8;
    &.open {
       display: block;
       overflow: hidden;
    }
}
.header {
    background-color: $blue;
    padding-top: 30px;
    width: 100%;
    height: 83px;
    &.fixed {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        height: 60px;
        padding-top: 20px;
        background-color: rgba(84, 116, 253, .8);
        box-shadow: 0 0 10px #FFF;
        -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
    }
}
.header_menu {
    .menu_list {
        display: flex;
        gap: 43px;
        li a {
            line-height: 1.625rem;
            font-size: .875rem;
            text-transform: uppercase;
        } 
    }
}
.menu_link {
    display: block;
    &:hover {
        transform: scale(1.2);
    }
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
}
// chooose styles ===============================================
.choose {
    background-color: #3d3b3c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 120px 0;
}
.choose_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    .choose_content {
        flex: 58.5%;
        line-height: 1.625rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &_title {
            margin-top: 86px;
            font-size: 2.25rem;
            margin-bottom: 50px;
        }
        &_desc {
            max-width: 560px;
            font-family: 'Josefin Sans';
            letter-spacing: 1.6px;
            color: #E8E8E8;
            margin-bottom: 45px;
            p:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .choose_photos {
        flex: 41.5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
        :last-child {
            align-self: flex-end;
        }        
    }
}
.btn {
    font-family: 'Aleo';
    letter-spacing: 3.2px;
    line-height: 1.625rem;
    text-transform: uppercase;
    border: none;
    width: 228px;
    height: 63px;
    background: rgb(84,116,253);
    background: linear-gradient(42deg, rgb(73,107,254,1) 40%, rgba(84,116,253,1) 40%);
    background-size: 100%;
    color: #ffffff;
    cursor: pointer;
    transition: all .6s ease;
    &:hover {
        background-size: 300%;
    }
}
// steps styles==================================================================
.steps {
    background-color: #333333;
    padding: 90px 0 120px;
}
.steps_wrapper {
    display: flex;
    flex-wrap: wrap;
    .step {
        flex: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_icon {
            margin-bottom: 18px;
        }
        &_descr {
            font-size: 2.250rem;
            line-height: 1.625rem;
            color: #E8E8E8;
            transition: all .8s ease;
            &:hover {
                color: rgba(84, 116, 253, .8);
            }
        }
    }
}
.border {
    position: relative;
    &::before,
    &::after {
        content: '';
        width: 80%;
        height: 90px;
        border-radius: 50%;
        position: absolute;
        left: 60%;
        top: -40px;
        border: 2px solid transparent;
        border-top: 2px solid #FFFFFF;
    }
    &::after {
        left: auto;
        right: 60%;
    }
}
.border:hover .step_descr {
    color: #ff6363;
}
.icon { 
  width: 60px; 
  height: 60px;
  margin: .5em;
}
// country styles ========================================================
.country {
    background-color: #aaa6bd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 225px 0 99px;
}
.country_content {
    background-color: rgba(35, 35, 35, .9);
    max-width: 543px;
    padding: 48px 30px;
    font-family: 'Josefin Sans';
    font-size: 1.25rem;
    line-height: 1.625rem;
    &_title {
        letter-spacing: 1.5px;
        color: #E8E8E8;
        margin-bottom: 23px;
    }
    &_subtitle {
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    &_discr {
        color: #E8E8E8;
        margin-bottom: 46px;
        font-size: 1rem;
    }
}
// country mount styles ========================================================
.country-mount {
    background-color: #3e1c23;
}
.country-mount_wrapper {
    display: flex;
    justify-content: flex-end;
}
// Tourist styles ============================================================
.tourist {
    background-color: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px 0 200px;
}
.tourist_title {
    font-size: 2.25rem;
    line-height: 1.625rem;
    text-align: center;
    margin-bottom: 93px;
}
.tourist_content {
    display: flex;
    &_photo {
        flex-basis: 40%;
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
    &_discr {
        flex-basis: 60%;
        background-color: #333333;
        padding: 49px 25px 25px 59px;
        .content_discr_title {
            font-family: 'Josefin Sans';
            font-size: 1.25rem;
            line-height: 1.625rem;
            text-transform: uppercase;
            color: #FEFEFE;
            margin-bottom: 8px;
            .tourist_content_text {
                span {
                    font-family: 'Josefin Sans';
                    line-height: 1.625rem;
                    color: #E8E8E8;
                }
            }
        }
    }
}
.quotes {
    font-size: 40px;
    color: $blue;
    line-height: 1.625rem;
    position: relative;
    top: 7px;
    left: -5px;
}
// footer styles==================================================
.footer {
    background-color: #232323;
    padding: 122px 0 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_logo {
        margin-bottom: 8px;
    }
    &_subtitle {
        font-family: 'Josefin Sans';
        line-height: 1.625rem;
        letter-spacing: 1.6px;
        margin-bottom: 16px;
    }
    &_socials {
        display: flex;
        gap: 20px;
        li a {
            line-height: 1.625rem;
            letter-spacing: 1.6px;
            &:hover,
            &:focus,
            &:active {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}