@media (max-width: 768px) {
      .header_container {
         display: none;
      }
      .user_language {
         display: none;
      } 
      .burger {
         display: block;
         position: fixed;
         right: 20px;
         top: 0;
         z-index: 11;
      }
      .menu-mobile {
         padding-left: 30px;
         position: fixed;
         width: 350px;
         background-color: rgba(255, 255, 255, .8);
         backdrop-filter: blur(4px);
         height: 100vh;
         left: 0;
         top: 60px;
         z-index: 10;
         display: block;
         transition: all .3s ease;
         transform: translateX(-100%);
         &.active {
            transform: translateX(0);
         }
         &_item {
            &:not(:last-child) {
               margin: 0 0 30px 0;
            }
         }
         &_link {
         font-weight: 700;
         font-size: 2.125rem;
         line-height: 2.625rem;
         color: #828282;
         &:hover {
            color: #090909;
            text-decoration: none;
         }
      }
      &_language {
         font-weight: 700;
         font-size: 2.125rem;
         line-height: 2.6rem;
         color: #828282;
         cursor: pointer;
         transform: rotate(90deg);
         position: absolute;
         z-index: 10;
         bottom: 120px;
         right: 0;
         span {
            color: #000;
         }
      }
   }
   .home_section {
      border-top: none;
      padding: 0 0 80px 0;
   }
   .about_section {
      padding: 80px 0;
   }
   .skills {
      padding: 75px 0;
      &_title {
         margin: 0 0 40px 0;
      }
      &_subtitle {
         margin: 0 0 70px 0;
      }
      &_cards {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         .card {
            flex: 50%;
            &:nth-child(1),
            &:nth-child(2) {
               margin: 0 0 78px 0;
            }
         }
      }
   }
   .footer {
      padding: 80px 0;
   }
}
@media (max-width: 560px) {
   .menu-mobile {
      width: 100%;
   }
}
@media (max-width: 480px) {
   .container {
      width: 100%;
      padding: 0 30px;
   }
   .home_section {
      margin: 0 0 80px 0;
   }
   .home {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 37px 0;
   }
   .user {
      &_name {
         margin: 0 0 25px 0;
      }
      &_photo {
         img {
            width: 100%;
            height: 100%;
         }
      }
   }
   .about {
      &_title {
      margin: 0 0 35px 0;
      }
      &_text {
         font-size: 1.125rem;
         line-height: 1.375rem;
         &:not(:last-child) {
            margin: 0 0 42px 0;
         }
      }
   }
   .skills {
      &_cards {
         .card {        
            flex: 100%;
            &:not(:last-child) {
               margin: 0 0 78px 0;
            }
         }
      }
   }
   .portfolio {
      &_title {
         margin: 0 0 78px 0;
      } 
      &_work {
         margin: 0 0 20px 0;
      }
      &_link {
         &:not(:last-child) {
            margin: 0 0 85px 0;
         }
      }
   }
   .footer {
      &_text {
         margin: 0 0 40px 0;
      }
      &_button {
         width: 100%;
         margin: 0 0 48px 0;
         padding: 10px 30px;
      }
      &_socials {
         margin: 0 0 45px 0;
         gap: 30px;
      }
      &_copy {
         font-size: 1.125rem;
         line-height: 1.250rem;
      }
   }
}





