*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    color: #16133D;
}
.wrapper {
    padding: 40px 150px 0px 150px;
    display: flex;
    flex-direction: column; 
}
.wrapper__footer {
    padding: 40px 150px 0px 150px;
    background-color: #16133D;
}
/* ======================================================================================= */
.header {
    margin: 0px 0px 55px 0px;
    border-bottom: 1px solid #EFEEF3;
}
    .header__logo {
        padding: 0px 0px 45px 0px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo__img {
        margin: 0px 15px 0px 0px;
    }
    .name {
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 35px;
        line-height: 35px;
    }
/* ------------------------------------------------------------- */
.main {
    margin: 0px 0px 70px 0px;
}
    .main__subtitle {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 21px;
        color: #7690A8;
        margin: 0px 0px 15px 0px;
    }
    .main__title {
        font-family: 'Nunito Sans';
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.2px;
        margin: 0px 0px 35px 0px;
    }
    .main__cards {
        display: flex;
        gap: 40px;
    }
    .main__card {
        border: 1px solid #E5EAF4;
        border-radius: 8px;
    }
    .card {
        padding: 35px;
    }
    .card__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border: 1px solid #E5EAF4;
        border-radius: 8px;
        margin: 0px 0px 28px 0px;
    }
    .card--active,
    .card__icon--active,
    .card:hover,
    .card__icon:hover {
        border: 1px solid #3DB370;
    }
    .card__title {
        font-size: 24px;
        line-height: 21px;
        letter-spacing: 0.2px;
        margin: 0px 0px 14px 0px;
    }
    .card__text {
        font-size: 16px;
        line-height: 28px;
        margin: 0px 0px 30px 0px;
    }
    .card__hint {
        font-size: 16px;
        line-height: 19px;
    }
/* ============================================================================= */ 
.footer {
    background-color: #16133D;
    padding: 35px 0px 45px 0px;

}
    .footer__logo {
        padding:  0px 0px 40px 0px;
    }
    .footer__name {
        color: #F2F2F2;
    }
    .footer__socials {
        display: flex;
        gap: 8px;
    }
    .social {
        background: #EFEEF3;
        border-radius: 5px;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .social:hover {
        opacity: 0.7;
    }